<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Password Generator</h1>

      <div class="field">
        <label for="length">Enter Length</label>
        <input 
          class="input" id="length" 
          (input)="onChangeLength($event.target.value)" type="text">
      </div>

      <div class="field">
        <div class="control">
          <label for="letters" class="checkbox">
            <input id="letters" (change)="onChangeUseLetters()" type="checkbox"/>
            Use Letters
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label for="numbers" class="checkbox">
            <input id="numbers" (change)="onChangeUseNumbers()" type="checkbox"/>
            Use Numbers
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label for="symbols" class="checkbox">
            <input id="symbols" (change)="onChangeUseSymbols()" type="checkbox"/>
            Use Symbols
          </label>
        </div>
      </div>

      <button class="button is-link is-fullwidth" 
          [disabled]="!canGenerate()"
          (click)="onButtonClick()">Generate!</button>

      <div *ngIf="password" class="box">
        <label>Your Password</label>
        <input class="input" [value]="password" />
      </div>
    </div>
  </div>
</div>
